[MESSAGES CONTROL]

disable=
    consider-using-f-string,
    consider-using-ternary,
    consider-using-with,
    duplicate-code,
    inconsistent-return-statements,
    super-with-arguments,
    unspecified-encoding,
    unused-variable,
    use-sequence-for-iteration,
    useless-object-inheritance,
