[MESSAGES CONTROL]

disable=
    consider-using-f-string,
    consider-using-ternary,
    consider-using-with,
    duplicate-code,
    inconsistent-return-statements,
    unnecessary-lambda-assignment,
    unspecified-encoding,
    use-implicit-booleaness-not-comparison,
